.song-itemSkeleton {
    border: 1px solid rgb(201, 201, 201);
    background: #313131;
    display: flex;
}

.song-itemSkeletonText,
.song-itemSkeletonImg {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #fff;
    margin: 5px;
    border-radius: 15px;

}

.song-itemSkeletonIcon {
    width: 10px;
    height: 10px;

    background-color: aqua;
    border: 1px solid #fff;
}

ul li {
    list-style: none;
}

.song {
    width: 100%;
    height: 100%;
    color: #fff;
}

.song ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.song-item .song-itemImg {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.song-item p {
    font-size: 14px;
}

.song-itemText {
    width: 150px;
}

.song-item:hover span {
    display: flex;
}

.song-item .song-itemImg img {
    width: 45px;
    height: 45px;
    transition: transform 1s ease, filter 1s ease;
    border-radius: 10px;
}

.song-item .song-itemImg img:hover {

    transform: scale(1.08);
    filter: brightness(85%);
}

.song-item:hover {
    background-color: #2f2739;
}

.song-item {
    position: relative;
    margin: 5px;
    width: 330px;
    height: 75px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.song-item span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    margin-top: 15px;
    background-color: transparent;
    height: auto;
    justify-content: center;
    align-items: center;
}

.song-item:hover span {
    display: flex;
}

.song-item span i {
    padding: 5px;
    font-size: 20px;
    color: #fff;
}

.song-item span i:hover {
    color: red;
}


.song-item.active {
    background-color: #2f2739;
}


.like-toast {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 320px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}