.ibeary-h1 {
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
}

.ibeary {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 10px;
    /* border-bottom: 1px solid #eee; */
    transition: background-color 0.2s ease;
    margin: 3px;
    cursor: pointer;
    position: relative;

}

.ibeary:hover {
    background-color: #2f2739;
}

.ibeary-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
}

.Ibeary-info {
    flex: 1;
}

.Ibeary-info p {
    margin: 4px 0;
    color: #444;
    font-size: 16px;
    font-weight: 500;
}

.Ibeary-info p:last-child {
    color: #888;
    font-size: 14px;
}

.Ibeary-icon {
    color: #e74c3c;
    font-size: 20px;
    margin-left: 12px;
    transition: transform 0.2s ease;
}

.Ibeary-icon:hover {
    transform: scale(1.2);
    color: #c0392b;
}

.remove-heart {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.ibearySinger-All {
    width: 100%;
}

.ibearySinger-All-ul {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.ibearySinger-img {
    width: 150px;
    transition: transform 1s ease, filter 1s ease;

    border-radius: 50%;
}

.ibearySinger-img:hover {
    transform: scale(1.08);
    filter: brightness(120%);
}

.ibearySinger {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 220px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.ibearySingeri {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -35px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

}

.ibearySinger:hover .ibearySingeri {
    opacity: 1;
}

.ibearySinger-info {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ibearySinger-care {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    border-radius: 20px;
    width: 150px;
    height: 30px;
}